@using Identity.Components
@model IQueryable<Product>
@using Microsoft.AspNetCore.Identity
@* @inject SignInManager<IdentityUser> SignInManager *@
@* @inject UserManager<IdentityUser> UserManager *@

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<h1 class="hidden-logo">Lego Brickwell Store</h1>
<div class="home-container">
        <div class="lego-section red">
            <ul class="saleList">
                    <a asp-area="" class="blank-link" asp-controller="Customer" asp-action="Index">
<h2 class="bottom-right white-text">Products</h2>    </a>

            </ul>
        </div>
         <div class="lego-section gray">
            <ul class="shopList">
                    <a asp-area="" class="blank-link" asp-controller="Customer" asp-action="Cart">
<h2 class="bottom-right white-text">Cart</h2>    </a>

            </ul>
        </div>
    <div class="white"></div>
    <div class="yellow"></div>
    <div class="navi-white">
        <h2 class="top-left">Lego Brickwell Store</h2>
    </div>

    <div class="yellow_wide"></div>
        <div class="lego-section blue_wide">
                <a asp-area="" class="blank-link" asp-controller="Home" asp-action="AboutMe">
<h2 class="top-left white-text">About</h2>    </a>

        </div>
        <div class="lego-section white_wide">
               <a asp-area="" class="blank-link" asp-controller="Home" asp-action="Privacy">
 <h2 class="top-left">Privacy</h2>    </a>

        </div>
        <div class="lego-section black_wide">
                <a href="#recommendations" class="blank-link">
<h2 class="top-left white-text">Recommended For You</h2>    </a> 

        </div>
    
</div>

@* <div class="gray"></div> *@
@* <div class="white"></div> *@
@* <div class="yellow"></div> *@
<div class="container-fluid" id="recommendations">
    @if (User.IsInRole("Customer"))
        // && user.Id == "123456789"
    {
        <div class="row mt-5">
            <h1 class="mb-3">Recommended Products For You, Spencer</h1>
            <div class="col-md-12">
                <div class="d-flex flex-wrap justify-content-around">
                    @foreach (var product in Model.Where(p => p.ProductId == 19 || p.ProductId == 20 || p.ProductId == 22 || p.ProductId == 13 || p.ProductId == 24))
                    {
                        <div class="col-lg-2 mb-3">
                            <a asp-controller="Customer" asp-action="ProductDescription" asp-route-id="@product.ProductId" class="card-link product-link">
                                <div class="card h-100" style="width: 18rem;">
                                    <span id="heart-@product.ProductId" class="heart"><i onclick="wishList()" class="fas fa-heart"></i></span>
                                    <div style="height: 200px; overflow: hidden;">
                                        <img src="@product.ImgLink" class="card-img-top" alt="@product.Name" style="object-fit: contain; height: 100%;">
                                    </div>
                                    <div class="card-body">
                                        
                                        
                                            <h5 class="card-title">@product.Name</h5>
                                            <h5 class="card-title">$@product.Price</h5>
                                       
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

    <div class="row">
        <h1 class="mb-3">Highest Rated Products</h1>
        <div class="col-md-12">
            <div class="d-flex flex-wrap justify-content-around">
                @foreach (var product in Model.Where(p => p.ProductId == 27 || p.ProductId == 33 || p.ProductId == 34 || p.ProductId == 37 || p.ProductId == 24))
                {
                    <div class="col-lg-2 mb-3">

                        <a asp-controller="Customer" asp-action="ProductDescription" asp-route-id="@product.ProductId" class="card-link product-link">

                            <div class="card h-100" style="width: 18rem;">
                                <span id="heart-@product.ProductId" class="heart"><i onclick="wishList()" class="fas fa-heart"></i></span>
                                <div style="height: 200px; overflow: hidden;">
                                    <img src="@product.ImgLink" class="card-img-top" alt="@product.Name" style="object-fit: contain; height: 100%;">
                                </div>
                                <div class="card-body">
                                    
                                    
                                        <h5 class="card-title">@product.Name</h5>
                                        <h5 class="card-title">$@product.Price</h5>
                                   
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <h1 class="mb-3">Most Frequently Bought</h1>
        <div class="col-md-12">
            <div class="d-flex flex-wrap justify-content-around">
                @foreach (var product in Model.Where(p => p.ProductId == 23 || p.ProductId == 19 || p.ProductId == 21 || p.ProductId == 22 || p.ProductId == 20))
                {
                    <div class="col-lg-2 mb-3">

                        <a asp-controller="Customer" asp-action="ProductDescription" asp-route-id="@product.ProductId" class="card-link product-link">

                            <div class="card h-100" style="width: 18rem;">
                                <span id="heart-@product.ProductId" class="heart"><i onclick="wishList()" class="fas fa-heart"></i></span>
                                <div style="height: 200px; overflow: hidden;">
                                    <img src="@product.ImgLink" class="card-img-top" alt="@product.Name" style="object-fit: contain; height: 100%;">
                                </div>
                                <div class="card-body">
                                    
                                    
                                        <h5 class="card-title">@product.Name</h5>
                                        <h5 class="card-title">$@product.Price</h5>
                                   
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="text-center mt-5 ">
        <a href="~/Customer/Index" class="btn btn-primary btn-lg mb-5">See All Products</a>
    </div>
</div>