@using Identity.Components
@model Identity.Models.ViewModels.ProductListViewModel

<style>
  body{
    background-color: #DFE7EF;
  }
  
  /* Custom styles for pagination buttons */
  .page-btn {
      display: inline-block;
      padding: 8px 16px;
      margin: 0 4px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border: 1px solid #343a40;
      border-radius: 4px;
      transition: background-color 0.3s, color 0.3s, border-color 0.3s;
      color: #343a40;
      background-color: transparent;
  }
  
  .page-btn:hover {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40;
  }
  
  .page-button-selected {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40;
  }


  /*a{*/
  /*  z-index: -1;*/
  /*}*/
</style>

@* <div class="row"> *@
@*     @foreach (var product in Model) *@
@*     { *@
@*         <div class="col-md-3 mb-3"> *@
@*             <div class="card"> *@
@*                 <img src="@product.ImgLink" class="card-img-top" alt="@product.Name"> *@
@*                 <div class="card-body"> *@
@*                     <h5 class="card-title">@product.Name</h5> *@
@*                     <!-- Add other product information here --> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     } *@
@* </div> *@

<div class="container mt-5">
<h1>View Products</h1>
<div class="d-flex justify-content-end mt-3 mb-3">
  <div page-model="@Model.PaginationInfo" page-action="Index" page-classes-enabled="true" page-class="page-btn" page-class-normal="btn-outline-dark" page-class-selected="page-button-selected" page-url-category="@Model.CurrentCategory" page-url-primaryColor="@Model.CurrentColor" page-url-pageSize="@Model.CurrentPageSize"></div>
</div>
<div class="d-flex justify-content-end mt-3 mb-3">
    <div class="page-size-container">
        <span>Products per page: </span>
        <a href="/Customer/SetPageSize?pageSize=5" class="btn btn-outline-dark">5</a>
        <a href="/Customer/SetPageSize?pageSize=10" class="btn btn-outline-dark">10</a>
        <a href="/Customer/SetPageSize?pageSize=20" class="btn btn-outline-dark">20</a>
    </div>
</div>

    <div class="row">
        <div class="col-md-3" style="margin-bottom: 100px;">
          @* View Component goes here *@
          <h2>Filter By Category</h2>
            @await Component.InvokeAsync("ProductFilterCategory")
          <br/><br/><br/>
          <h2>Filter By Color</h2>
            @await Component.InvokeAsync("ProductFilterColor")
        </div>
        <div class="col-md-9">
          <div class="d-flex justify-content-end mb-3">
            @if (User.IsInRole("Admin"))
                                      {
                                        <a asp-controller="Admin" asp-action="AddProducts" class="btn btn-primary">Add Product</a>
                                      }
          </div>
          <div class="d-flex flex-wrap">
              @foreach (var product in Model.Products)
              {
                  <div class="col-lg-4 mb-3">
                      <a asp-controller="Customer" asp-action="ProductDescription" asp-route-id="@product.ProductId" class="card-link product-link">
                          <div class="card h-100" style="width: 18rem;">
                              <span id="heart-@product.ProductId" class="heart"><i onclick="wishList()" class="fas fa-heart"></i></span>
                              <div style="height: 200px; overflow: hidden;">
                                  <img src="@product.ImgLink" class="card-img-top" alt="@product.Name" style="object-fit: contain; height: 100%;">
                              </div>
                              <div class="card-body">
                                  @if (User.IsInRole("Admin"))
                                  {
                                      <a asp-controller="Admin" asp-action="EditProducts" asp-route-id="@product.ProductId" class="card-link product-link">Edit Product</a>
                                      <a asp-controller="Admin" asp-action="DeleteProduct" asp-route-id="@product.ProductId" class="card-link product-link">Delete Product</a>
                                  }
                                  else if (User.IsInRole("Customer"))
                                  {
                                      <a asp-controller="Customer" asp-action="ProductDescription" asp-route-id="@product.ProductId" class="btnspecial btn-yellowspecial">Add to Cart</a>
                                  }
                      
                                  <hr>
                                  <center>
                                      <h5 class="card-title">@product.Name</h5>
                                      <h5 class="card-title">$@product.Price</h5>
                                  </center>
                              </div>

                          </div>
                      </a>
                  </div>
              }
          </div>
          <div class="d-flex justify-content-end">
              <div page-model="@Model.PaginationInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" class="btn-group text-end mb-5"></div>
          </div>
        </div>
    </div>
</div>

@* <div page-model="@Model.PaginationInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" class="btn-group pull-right m-1"></div> *@






