@model Identity.Models.ViewModels.OrdersViewModel

<table class="table table-striped">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Order Date</th>
      </tr>
  </thead>
  <tbody>
  @foreach (var order in Model.Orders)
  {
    <tr>
      <td>@order.TransactionId</td>
      <td>@order.Date</td>  </tr>
  }
  </tbody>
</table>

@* @if (Model.PaginationInfo.TotalItems > Model.PaginationInfo.ItemsPerPage) *@
@* { *@
@*   <div class="pagination justify-content-center"> *@
@*     @if (Model.PaginationInfo.CurrentPage > 1) *@
@*     { *@
@*       <a class="page-link" href="@Url.Action("Orders", new { pageNum = Model.PaginationInfo.CurrentPage - 1 })">&laquo;</a> *@
@*     } *@
@*      *@
@*     @for (int i = 1; i <= Math.Ceiling((double)Model.PaginationInfo.TotalItems / Model.PaginationInfo.ItemsPerPage); i++) *@
@*     { *@
@*       <a class="page-link @(i == Model.PaginationInfo.CurrentPage ? "active" : "")"  *@
@*          href="@Url.Action("Orders", new { pageNum = i })">@i</a> *@
@*     } *@
@*      *@
@*     @if (Model.PaginationInfo.CurrentPage < Math.Ceiling((double)Model.PaginationInfo.TotalItems / Model.PaginationInfo.ItemsPerPage)) *@
@*     { *@
@*       <a class="page-link" href="@Url.Action("Orders", new { pageNum = Model.PaginationInfo.CurrentPage + 1 })">&raquo;</a> *@
@*     } *@
@*   </div> *@
@* } *@



@* <div page-model="@Model.PaginationInfo" page-action="Orders" page-classes-enabled="true" page-class="btn" *@
@*      page-class-normal="btn-outline-dark" page-class-selected="btn-primary" *@
@*      class="btn-group pull-right m-1"></div> *@
     
@if (Model.PaginationInfo.TotalPages > 1)
{
  <div>
    @if (Model.PaginationInfo.CurrentPage > 0)
    {
      <a asp-action="Orders" asp-route-pageNum="@(Model.PaginationInfo.CurrentPage - 1)" class="btn btn-primary">Previous</a>
    }
    @if (Model.PaginationInfo.CurrentPage < Model.PaginationInfo.TotalPages)
    {
      <a asp-action="Orders" asp-route-pageNum="@(Model.PaginationInfo.CurrentPage + 1)" class="btn btn-primary">Next</a>
    }
  </div>
}